
a{
    text-decoration: none;
    color: #656565;
    cursor:pointer;
}
li{
    list-style: none;
}

#container{
    width: 100%;
    height: 100%;
}


#banner{
    width: 1024px;
    height: 365px;
    border: 1px solid black;
    margin: 0 auto;
}

.s_title{
    font-size: 20px;

}
#content{
    width: 1024px;
    height: 400px;
    margin: 10px auto 10px;
    // border: 1px solid #e4e4e6;
    background-color:#f2f2f2;
}
#sever1{
     width: 1024px;
    height: 150px;
    // border: 1px solid blue;
    margin: 30px auto;
    text-align: center;
    // background:url("../images/index_02.jpg") no-repeat;
    background-size:100% 100%;
    color:#333;
    font-weight: 700;
    font-family: "微软雅黑";
}
#news{
    width: 500px;
    height: 100%;
    float: left;
}
#cases{
    width: 500px;
    height: 100%;
    float: right;
}
.line{
    float: left;
    width: 5px;
    height: 300px;
    background-color: white;
    margin-top: 60px;
}
.partner{
    width: 1024px;
    margin: 10px auto 0;
    text-align: center;
    font-weight: 700;
    border: 1px solid #f2f2f2;

}
.partner img{
    width: 100%;
}
#system{
   width: 87px;
    background: url("../images/index_03.png") no-repeat;
    height: 74px;
    background-size: 100% 100%;
    float:left;
    margin-right:223px;
}
#software{
    width: 87px;
    background: url("../images/index_05.png") no-repeat;
    height: 74px;
    background-size: 100% 100%;
     float:left;
    margin-right:210px;
}
#defend{
   width: 87px;
    background: url("../images/index_07.png") no-repeat;
    height: 74px;
    background-size: 100% 100%;
    float:left;
}
.partner_txt{
    color: #333;
    margin-top: 6px;
}

#severBox{
    width:100%;
    height:75px;
    margin:15px auto;
    display:-webkit-flex;
    display:flex;
    justify-content:center;
    font-size: 15px;
}
#severBox span{
    position:relative;
    top:75px;
}
#severBox a{
    color:#656565;
}
#slider img{
    width: 1024px;
}
.leftNav1{
    font-size: 24px;
    color: #303133;
    font-family: '微软雅黑';
    margin-top: 20px;
    margin-left: 40px;
    height:60px;
    width:425px;
    border-bottom:1px dashed black;
    color:#333;
    font-weight: 700;
}
h6{float:left;}

.comTitle{
    letter-spacing: 2px;
}
.rightLine{
    float: left;
    width: 250px;
    height: 1px;
    border: none;
    border-top: 1px solid orange;
}
.engTitle{
    font-size: 12px;
    color:#656565;
    display: block;
    font-family: Arial;
}
.ul_box{
    margin:0 auto;
}
.rightMore{
    float:right;
    width:44px;
    font-size:16px;
    font-family: Arial;
    // color: #9a9a9a;
    color:#333;
    height: 30px;
    line-height: 30px
}
.newPic{
    margin-top: 20px;
    margin-left: 40px;
    width:425px;
}
.newPic img{
     width: 425px;
    height: 100px;
}
.message{
    font-size: 16px;
    height:43px
}
.mark{
    width: 4px;
    height: 4px;
    background-color: orange;
    float: left;
    margin-top: 12px;
}
.m-title{
    padding-left:10px;
}
.m-title a:hover{
    font-size:20px;
    color:orange;
}
.text{
    width: 243px;
    color: blue;
    float: right;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgb(229,228,226);
}