body {
    background-color: #FAFAFA;
}
div#sever {
    border: 1px solid #fff;
}
.cont {
    border: 1px solid #DFECF2;
    margin: 15px 0px;
    -webkit-box-shadow: 3px 3px 10px #9edeff;
    box-shadow: 3px 3px 10px #BFC2C7;
}

#content-text {
    width: 1024px;
    margin: 15px auto;
    background-color: white;
}
.con-subtitle {
    margin: 10px;
    color: #4C70FB;
    text-align: left;
    font: inherit;
}

.con-detail {
    text-align: left;
    font-size: 14px;
    margin: 4px 4px;
    padding: 8px;
    padding-bottom: 15px;
    font-family: Arial,"Microsoft YaHei";
}

a#lj {
    float: right;
    line-height: 10px;
    padding-right: 10px;
    color: #4C70FB;
    font-weight: 700;
}

img.textbottom {
    vertical-align: text-bottom;
}
