html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,span,i,a,em,strong,b,input,textarea { margin:0; padding:0; }
a{
    text-decoration: none;
    color: #505050;
}
li{
    list-style: none;
}
html,body{
    font-size: 12px;
    font-family: 'ÐÂËÎÌå',Verdana, Geneva, sans-serif;
    text-align: center;
    overflow-x: auto;
    height: 100%;
   // background: rgb(229,228,226);
}
#container{
    width: 100%;
    height: 100%;
    text-align: center;
}
#header{
    width: 100%;
    height: 150px;
}
#logo_box{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#home{
    color: #505050;
    margin-top: 20px;
    position:absolute;
    left:855px;
}
#home img{
    vertical-align: middle;
}
#home a{
    margin-right: 15px;
}
#logo{
   background: url("../images/logo.png") no-repeat;
    width: 260px;
    height: 110px;
    background-size: 100% 100%;
    clear: both;
    float: left;
}
#menu{
    width: auto;
    position: relative;
    top: 60px;
    left: 59px;
}
#menu li{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #383838;
    width: 90px;
    height: 20px;
    font-family: "Î¢ÈíÑÅºÚ";
    border-right: 1px solid black;
}
#menu ul{
    height: 90px;
}
#menu li:last-child{
    border-right: none;
}
#banner{
    width: 1024px;
    height: 365px;
    border: 1px solid black;
    margin: 0 auto;
}
#sever{
    width: 1024px;
    height: 145px;
    border: 1px solid black;
    margin: 15px auto;
    text-align: center;
}
#content{
    width: 1024px;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
    background-color:white;
}
#news{
    width: 500px;
    height: 100%;
    float: left;
}
#cases{
    width: 500px;
    height: 100%;
    float: right;
}
.line{
    float: left;
    width: 5px;
    height: 300px;
    background-color: grey;
    margin-top: 60px;
}
#skill_banner{
    width: 1024px;
    margin: 10px auto;
    height: 180px;
    border: 1px solid black;
}
#footer{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color:blue;
}