html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,span,i,a,em,strong,b,input,textarea { margin:0; padding:0; }
html,body{
    font-size: 12px;
    font-family: "微软雅黑";
    overflow-x: auto;
    height: 100%;
    background: url("../images/background.jpg");
   // background:white;
}
#header{
    width: 100%;
    height: 150px;
}
#logo_box{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#home{
    color: #505050;
    margin-top: 20px;
    position:relative;
    left:827px;
    width:400px
}
#home img{
    vertical-align: middle;
}
#home a{
    margin-right: 15px;
}
#logo{
   background: url("../images/logo.png") no-repeat;
    width: 260px;
    height: 110px;
    background-size: 100% 100%;
    clear: both;
    float: left;
}
#menu{
    width: auto;
    position: relative;
    top: 60px;
    left: 59px;
}
#menu li{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #383838;
    width: 90px;
    height: 20px;
    font-family: "Î¢ÈíÑÅºÚ";
    border-right: 1px solid black;
}
#menu ul{
    height: 90px;
}
#menu li:last-child{
    border-right: none;
}
#sever{
    width: 1024px;
    height: 150px;
    // border: 1px solid blue;
    margin: 0px auto;
    text-align: center;
    // background:url("../images/index_02.jpg") no-repeat;
    background-size:100% 100%;
    color:#333;
    font-weight: 700;
    font-family: "微软雅黑";
}
#skill_banner{
    width: 100%;
    margin-top: 10px;
    height: 180px;
   background-color: #6a6a6a;
   font-family: "微软雅黑";
   line-height: 180px;
}
#skill_content{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    color: white;
}
.years{
    font-size: 70px;
    color: white;
    float: left;
}
.years span{
    color: orange;
}
#yearNum{
    color:white!important;
    margin:0 0px 0 -28px;
}
#details{
    margin-top: 50px;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

#slogan{
    background-color: orange;
    letter-spacing: 10px;
    padding: 0 5px;
    text-align: left;
    line-height: 30px;
}
#describe{
    margin-top: -60px;
}
#footer{
    width: 100%;
    height: 57px;
    background-color:#f2f2f2;
    font-size: 13px;
    color: black;
    font-family:"微软雅黑";
    clear:both;
    margin:10px auto 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}
#honor{
    width: 1024px;
    height: 200px;
    margin: 0px auto;
    padding-top:10px; 
    background: #f2f2f2;
    text-align: center;
}
#honor ul{
    float: left;
    text-align: left;
}
#honor li{
    width: 285px;
    margin-top: 10px;
    font-size: 14px;
}
#honor .honor_des{
    
    font-size: 24px;
}

.add_footer{
    margin-top: 5px;
}


.text{
    width: 243px;
    color: blue;
    float: right;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgb(229,228,226);
}